html {
    background-color: aquamarine;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 212, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
    width: 98.25%;
    height: 10vh;
}

.logo {
    position: relative;
    z-index: 10;
    transform: translateY(2vh);
    padding-right: 30vw;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li {
    list-style: none;
    padding: 0 2vw;
    position: relative;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: rgb(46, 1, 247);
    

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(46, 1, 247);
    position: absolute;
    bottom: -2px;
    left: 40px;
    
}

#hero {
    background-image: url(images/background1.png);
    height: 70vh;
    width: 95.50%;
    background-position: top 35% right 0;
    background-size: cover;
    padding: 0 25px;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    
}

#one {
    color: whitesmoke;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 5);
    border-color: rgba(0, 0, 0, 0.527);
    border-style: outset;
    border-width: 3px;
    background-color: rgba(0, 0, 0, 0.514);
    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 35px;
    
}

#shopHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 183, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
    width: 98.25%;
    height: 10vh;
    margin-top: 3vh;
}

#shopBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#shopBar li {
    list-style: none;
    padding: 0 2vw;
    position: relative;
}

#shopBar li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3s ease;
}




